<!-- runs phidgets_encoder encoder_odometry -->
<launch>
    <include file="$(find goat_launch)/launch/state.launch"/>

    <rosparam command="load" file="$(find goat_launch)/params/encoders.yaml"/>

    <node name="phidgets_encoder_node" pkg="phidgets_encoder"
          type="phidgets_encoder_node" clear_params="true">
        <remap from="wheel_state" to="encoders/state"/>
    </node>

    <node name="encoder_odometry_node" pkg="encoder_odometry"
          type="encoder_odometry_node" clear_params="true">
        <remap from="joint_states" to="wheel_state"/>
        <remap from="encoders/odom" to="encoders/odometry"/>
    </node>
</launch>
