<!-- runs phidgets_imu and imu_madgwick_filter -->
<launch>
    <node name="phidgets_imu_node" pkg="phidgets_imu" type="phidgets_imu_node">
    </node>

    <node name="imu_filter_node" pkg="imu_filter_madgwick"
          type="imu_filter_node">
        <param name="publish_tf" value="False"/>
    </node>
</launch>
