<!-- run gmapping -->
<launch>
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <param name="base_frame" value="base_link"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="maxUrange" value="5.4"/>
        <param name="maxRange" value="6.0"/>
    </node>
</launch>
