<!-- run hector_mapping with odometry -->
<launch>
    <node name="hector_mapping" pkg="hector_mapping" type="hector_mapping">
        <param name="base_frame" value="base_link"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_pub_period" value="2.0"/>
    </node>
</launch>
